@import "variables.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    padding: 0.5rem 0;
    padding-left: calc(50vw - 25rem);
    padding-right: calc(50vw - 25rem);
    background-color: var(--xljusbrand);
    justify-content: center;
    align-items: center;
}

header > div{
    margin: 0 1rem;
}

header > div:first-of-type{
    flex: 1;
}

header > div:first-of-type img{
    width: 75%;
    height: 75%;
}

header > div:last-of-type {
    flex: 2;
    text-align: end;
}

.item1 { grid-area: item1; 
    background-color: var(--xljusturkos);}
.item2 { grid-area: item2; 
    background-color: var(--morkturkos);
    color: white;
    font-weight: bold;}
.item2a { grid-area: item2a; 
    background-color: var(--ljusturkos);}
.item3 { grid-area: item3; 
    background-color: var(--morkbrand);
    color: white;
    font-weight: bold;
    max-width: 15rem;}
.item4 { grid-area: item4; 
    background-color: var(--xljusbrand);}
.item5 { grid-area: item5; 
    background-color: var(--ljusgra);}
.item6 { grid-area: item6; 
    background-color: var(--morkturkos);
    color: white;
    font-weight: bold;}
.item7 { grid-area: item7; 
    background-color: var(--ljusturkos);}
.item8 { grid-area: item8; 
    background-color: var(--xljusturkos);}
.item9 { grid-area: item9; 
    background-color: var(--gra);}

main{
  display: grid;
  background-color: var(--xljusgra);
  padding: 0.5rem 0;
  padding-left: calc(50vw - 25rem);
  padding-right: calc(50vw - 25rem);
  grid-template-areas:
    'item1 item1 item2 item2'
    'item1 item1 item2a item2a'
    'item3 item4 item4 item4'
    'item5 item5 item5 item6'
    'item5 item5 item5 item7'
    'item5 item5 item5 item8'
    'item9 item9 item9 item9';
  grid-gap: 0.5rem;
}

main > div {
    padding: 1rem;
  }

main > div p{
    padding: 0.5rem 0;
  }

  li{
      list-style-position: inside;
  }

footer{
    display: flex;
    background-color: var(--morkturkos);
    padding: 0.5rem 0;
    padding-left: calc(50vw - 25rem);
    padding-right: calc(50vw - 25rem);
    color: white;
    }

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: black;
}

footer > div{
    display: flex;
    flex: 1;
    margin: 0.5rem 1rem;
}

footer > div:nth-of-type(1){
    flex-direction: column;
}

footer > div:nth-of-type(2){
    justify-content: center;
    align-items: center;
}

footer > div:nth-of-type(3){
    flex-direction: column;
    text-align:end;
}