:root {
    --brandgul: #FF7D00;
    --ljusbrand: #FFDFBF;
    --turkos: #076978;
    --ljusturkos: rgb(0, 178, 169);
    --svart: #000000;
    --morkgra: #c0c7cd;
    --gra: rgb(232, 233, 227);
    --ljusgra: #f3f4f9;
    --vit: #FFFFFF;
    --lila: rgb(132, 50,155);
    --ljuslila: #B97DC9;
    --rosa: rgb(200, 70, 130);
    --ljusrosa: #ead3cb;
    --gron: rgb(4, 106, 56);
    --ljusgron: rgb(172, 202, 87);
}